.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align: center;
}

.title {
    font-size: 2.5em;
    margin-bottom: 16px;
    color: #003744;
}

.message {
    font-size: 1.25em;
    color: #526671;
    line-height: 1.5;
}