$threads-font-path: "~plaid-threads/fonts";
@import "~plaid-threads/scss/typography";
@import "~plaid-threads/scss/variables";

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70 * $unit;
  max-width: 120 * $unit;
  margin: 0 auto;
}

.viewAccountsButton {
  margin: 2 * $unit 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.productionBanner {
  width: 100%;
  padding: 1 * $unit;
  background-color: #fff3cd;
  border-bottom: 2px solid #ffc107;
  position: sticky;
  top: 0;
  z-index: 1000;
  
  > * {
    max-width: 1200px;
    margin: 0 auto;
  }
}
